class API_getter:
    def __init__(self):
        self.gov_key = 'tZK6mKeXQ2JK0It7txhhhzCnBbcKhdeKsJli2lak'
        self.gov_url = 'http://catalog.data.gov/api/3/'
        self.pp_key = 'l8xbuedseZHG4JrxvS9u40eyNMOWRTVDL4IfnIb6'
        self.pp_url = ''

class Selenium_getter:
    def __init__(self):
        self.SCOTUS_base_url = 'https://www.govinfo.gov/committee/senate-judiciary?path=/browsecommittee/chamber/senate/committee/judiciary/collection/OTHER-2'

        
